.container {
  /* min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}
.layout{
  display: flex;
  flex-direction: row;
}
.grid{
  display: grid;
  grid-template-columns: 50% 50%
}

.desaturate{
  opacity: .5;
  filter: saturate(.1);
}
